
@{
    ViewBag.Title = "frmCurrencyInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>frmCurrencyInfo</h2>

<div class="form-group">
    <label>Text</label>
    <input type="text" class="form-control" placeholder="Enter ...">
</div>
