@{
    ViewBag.Title = ViewBag.formTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.formTitle</title>
@using (Html.BeginForm("FrmInvestmentDBSysExcel", "DoctorHonorariumPaid", FormMethod.Post, new { id = "submitForm" }))
{
    <div class="row box box-danger">
        <div class="col-lg-6">
            <span id="MessageText" class="pull-right" style="color:green;font-weight:bold;font-size:16px;">@ViewBag.Msg</span>
        </div>
        <div class="col-lg-6">
            <button type="button" id="btnReset" class=" btn bg-olive btn-flat margin pull-right"><i class="glyphicon glyphicon-refresh"></i> Reset</button>
            <button type="submit" id="btnSubmit" class=" btn bg-olive btn-flat margin pull-right"><i class="glyphicon glyphicon-save"></i> Save</button>
        </div>
    </div>

    <div class="row box box-primary">
        <form class="form">
            <div class="box-body">
                <div class="form-group">
                    <div class="box-header with-border">
                        <h3 class="box-title">Browse & Upload File For Investment Details</h3>
                    </div>
                    <div class="col-lg-12">
                        <input name="files" class="files" id="files" type="file">
                    </div>
                </div>
            </div>
        </form>
    </div>
}

<div id="DeleteConfirmWindow" style="display: none;">
    <p><h5>Are you sure to delete?</h5></p>
    <input type="button" style="height: 25px; width: 60px; margin-left: 10px; float: left;" id="btnConfirmationOK" value="OK" />
    <input type="button" style="height: 25px; width: 60px; margin-left: 30px; float: left;" id="btnConfirmationCancel" value="Cancel" />
</div>

<div id="SaveChangeWindow" style="display: none;">
    <p><h5>Data will be lost if you continue.</h5></p>
    <input type="button" class="ThreeButtonWindow" id="btnSaveChangeWindowOk" value="OK" />
    <input type="button" class="ThreeButtonWindow" id="btnSaveChangeWindowCancel" value="Cancel" />
</div>

<div id="SearchWindow" style="display: none;">
    <div id="SearchWindowGrid" class="PopUpGrid">
    </div>
    <input type="button" id="btnSearchWindowCancel" class="PopUpButton" value="Cancel" />
    <input type="button" id="btnSearchWindowOK" class="PopUpButton" value="OK" />
</div>

<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001; opacity: .8; filter: alpha(opacity=70); display: none">
    <p style="position: absolute; top: 50%; left: 42%; color: White;">
        Loading, please wait...<img src="~/Content/Images/cube.gif" />
    </p>
</div>

<style>
    .gridHeader {
        background: #B4EEB4;
    }

    .box {
        background: #FFFAF0;
    }
</style>

<script type="text/javascript">
    // To Declare Global Variable
    var changeStatus = 0;
    var resetEditDeleteStatus = 0;
    var deleteStatus = 0;
    var dataitem = {};

    $(document).ready(function () {


        // Reset Data
        $("#btnReset").click(function () {
            $("#MessageText").html("");
            ResetOnlyMasterPageData();
            $(".txtBox").css("border-color", "");
            $(".k-upload-files").remove();
            $(".k-upload-status").remove();
            $(".k-upload.k-header").addClass("k-upload-empty");
            $(".k-upload-button").removeClass("k-state-focused");
        });
    });

    //************************************  UPLOAD EXCELL FILE INTO KENDO GRID *****************************************//

    function onSelect(e) {
        //  kendoConsole.log("Select :: " + getFileInfo(e));
    }

    function onUpload(e) {
        //  kendoConsole.log("Upload :: " + getFileInfo(e));
    }

    function onSuccess(e) {
        $("#divLoading").show();
        $.ajax({
            url: '@Url.Action("LoadExcelFile", "DoctorHonorariumPaid")',
            type: 'GET',
            data: { "fileName": $("#files").val() },
            success: function (response) {
                if (response.msg.Type == 2) {
                    $("#MessageText").html(response.msg.Msg);
                    $("#MessageText").css({ 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                    $("#divLoading").hide();
                } else {
                    $("#MessageText").html(response.msg.Msg);
                    $("#MessageText").css({ 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                    $("#divLoading").hide();
                }

            } //End of success call
        });
        //   kendoConsole.log("Success (" + e.operation + ") :: " + getFileInfo(e));
    }

    function onError(e) {
        //$('#MessageText').html(respnse.msg.Msg);
        //alert(e.Msg);
    }

    function onComplete(e) {
        // kendoConsole.log("Complete");
    }

    function onCancel(e) {
        //  kendoConsole.log("Cancel :: " + getFileInfo(e));
    }

    function onRemove(e) {
        // kendoConsole.log("Remove :: " + getFileInfo(e));
    }

    function onProgress(e) {
        //kendoConsole.log("Upload progress :: " + e.percentComplete + "% :: " + getFileInfo(e));
    }

    $(document).ready(function () {
        $("#files").kendoUpload({
            async: {
                saveUrl: "UploadFile",
                removeUrl: "Remove",
                autoUpload: true
            },
            cancel: onCancel,
            complete: onComplete,
            error: onError,
            progress: onProgress,
            remove: onRemove,
            select: onSelect,
            success: onSuccess,
            upload: onUpload
        });
    });

    //************************************  END OF UPLOAD EXCELL FILE INTO KENDO GRID **********************************//
</script>
