@{
    ViewBag.Title = @ViewBag.formTiltle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>ViewBag.formTitle</title>

@using (Html.BeginForm("frmRptGenericContributionToNationalShare", "Reports", FormMethod.Post, new { target = "_blank", name = "H1Form", id = "H1Form" }))
{
    <div class="row box box-danger">
        <div class="col-lg-3">
            <span id="MessageText" class="pull-right"></span>
        </div>
        <div class="col-lg-3">
            <label style="font-size: medium; margin-top: 15px">Paper: A4, Portrait</label>
        </div>
        <div class="col-lg-2" style="margin-top: 15px">
            <input type="radio" class="iradio_flat-green" id="rptPDF" name="ReportType" value="PDF" style="width: 2%; margin-left: 40px;" checked="checked" />
            <label style="font-size: small; font-weight: bold; color: #00688B;">PDF</label>
            <input type="radio" id="rptExcel" name="ReportType" value="EXCEL" style="width: 2%;" />
            <label style="font-size: small; font-weight: bold; color: #00688B;">EXCEL</label>
        </div>
        <div class="col-lg-4">
            <button type="button" id="btnReset" class=" btn bg-olive btn-flat margin pull-right" onclick="Reset();"><i class="glyphicon glyphicon-refresh"></i> Reset</button>
            <button type="submit" id="btnShowReport" onclick="return displayReport();" class=" btn bg-olive btn-flat margin pull-right"><i class="glyphicon glyphicon-save"></i> Display Report</button>
        </div>
    </div>
    <input type="hidden" id="ReportName" name="ReportName" value="Market Wise Doctor List" />
    <div class="row box box-primary">
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="pull-right">Selection:</label>
                    </div>
                    <div class="col-lg-3">
                        <select id="ddlGeneric" name="ddlGeneric" class="txtBox" tabindex="1">
                            <option value="All Generic">All Generic</option>
                            <option value="Selected Generic">Selected Generic</option>
                        </select>
                    </div>
                </div><br />
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="pull-right">Prescription Category:</label>
                    </div>
                    <div class="col-lg-3">
                        <select id="ddlPresCategory" name="ddlPresCategory" class="txtBox" style="width: 100%;" tabindex="2"></select>
                    </div>
                </div><br />
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="pull-right">From Date:</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" id="FromDate" name="FromDate" style="width:100%" class="txtBox datePicker" tabindex="3" />
                    </div>
                </div><br />
                <div class="form-group">
                    <div class="col-lg-3">
                        <label class="pull-right">To Date:</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" id="ToDate" name="ToDate" style="width:100%" class="txtBox datePicker" tabindex="4" />
                    </div>
                </div><br />
            </div>
        </form>
    </div>
}

<style>
    .gridHeader {
        background: #B4EEB4;
    }

    .box {
        background: #FFFAF0;
    }
</style>

<div id="ManufacturerWindow" style="display: none;">
    <div id="ManufacturerWindowGrid" class="PopUpGrid">
    </div>
    <input type="button" id="btnManufacturerWindowCancel" class="PopUpButton" value="Cancel" />
    <input type="button" id="btnManufacturerWindowOK" class="PopUpButton" value="OK" />
</div>

<script type="text/javascript">
    // To Declare Global Variable
    $(document).ready(function () {
        $(".datePicker").kendoDatePicker({
            format: "{0:dd/MM/yyyy}",
            value: new Date()
        });
        LoadPrescription();
    }); //End of Document.Ready()

    function LoadPrescription() {
        $.ajax({
            url: '@Url.Action("GetPrescriptionCategory", "Reports")',
            type: 'GET',
            dataType: 'JSON',
            data: "{}",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data, function (i, item) {
                    $('#ddlPresCategory').append($('<option>', { value: item.PRESC_CATE_CODE, html: item.PRESC_CATE_NAME }, '<option/>'));
                });
            },
            error: function () {
                alert("Failed to load Generic !!");
            }
        });
    }

    $("#btnReset").click(function () {
        $('#MessageText').html('');
        $(".txtBox").val("");
        location.reload();
    });
    function displayReport() {

        if ($("#MANUFACTURER_NAME").val() != "") {
            return true;
        }
        else {
            // Check Empty or Maximum Length in ManufacturerName
            CheckRequiredTextBoxMaxLength('MANUFACTURER_NAME', 10);
            return false;
        }
    }
    //////////////////Manufacturer///////////////////////////

    var ManufacturerGridDataSource = new kendo.data.DataSource({
        schema: {
            model: {
                id: "ManufacturerCode",
                fields: {
                    ManufacturerCode: { editable: false },
                    ManufacturerName: { editable: false }
                }
            }
        },
        transport: {
            read: {
                url: '@Url.Action("GetManufacturerList", "Reports")',
                type: "GET",
                dataType: "JSON"
            }
        },
        pageSize: 30

    });

    var ManufacturerPageGrid = $("#ManufacturerWindowGrid").kendoGrid({
        dataSource: ManufacturerGridDataSource,
        pageable: true,
        editable: true,
        selectable: "row",
        navigatable: true,
        filterable: true,
        sortable: true,
        height: 300,
        columns: [
            { field: "ManufacturerName", title: "Manufacturer Name", filterable: true, width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "ManufacturerCode", title: "Manufacturer Code", filterable: true, width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } }
        ]
    });

    var ManufacturerWindow = $('#ManufacturerWindow').kendoWindow({
        actions: ["Minimize", "Maximize", "Close"],
        visible: false,
        width: "700px",
        height: "400px",
        title: "List of Manufacturer Information",
        position: { top: 100, left: 300 },
        modal: true,
        draggable: true
    }).data('kendoWindow');

    //Handling button click for ZONE_NAME window grid
    function ManufacturerWindowEvent() {
        var WindowGrid = $("#ManufacturerWindowGrid").data("kendoGrid");
        var WindowGridRow = WindowGrid.select();
        var WindowGridItem = WindowGrid.dataItem(WindowGridRow);

        $("#MANUFACTURER_CODE").val(WindowGridItem.ManufacturerCode);
        $("#MANUFACTURER_NAME").val(WindowGridItem.ManufacturerName);
        changeStatus = 1;
        $(".RequiredTextBox").css("border-color", "");
        $('#MessageText').html('');
    };

    //To select the first row as default & to clear the filter while loading the grid
    function SelectedItemOfListOfValue(gridName) {
        var grid = $('#' + gridName).data("kendoGrid");
        //Reload Grid
        grid.dataSource.read();
        //Clear Filter
        $('#' + gridName).data("kendoGrid").dataSource.filter([]);
        //Select First Row
        $('#' + gridName).data().kendoGrid.bind('dataBound', function (e) {
            this.element.find('tbody tr:first').addClass('k-state-selected');
        });
    }

    $('#btnManufacturerWindowOK').click(function () {
        ManufacturerWindowEvent();
        ManufacturerWindow.close();
    });

    $('#btnManufacturerWindowCancel').click(function () {
        ManufacturerWindow.close();
    });

    $("#ManufacturerWindowGrid").dblclick(function () {
        ManufacturerWindowEvent();
        ManufacturerWindow.close();
    });

    $("#ManufacturerWindowGrid").keyup(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            ManufacturerWindowEvent();
            ManufacturerWindow.close();
        }
            // Close Window with escape key
        else if (keycode == '27') {
            ManufacturerWindow.close();
        }
        event.stopPropagation();
    });

    $(document.body).keyup(function (e) {
        if ($("#MANUFACTURER_NAME").is(":focus")) {
            if (e.keyCode == 120) {
                SelectedItemOfListOfValue('ManufacturerWindowGrid');
                ManufacturerWindow.open();
            }
        }
    });

    /////////////////////////////////////////////////
</script>