@{
    ViewBag.Title = @ViewBag.formTiltle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.formTitle</title>
@using (Html.BeginForm("frmRptGenericWiseIndividualInstitutionValueSharePerc", "Reports", FormMethod.Post, new { target = "_blank", name = "H1Form", id = "H1Form" }))
{
    <div class="row box box-danger">
        <div class="col-lg-3">
            <span id="MessageText" class="pull-right"></span>
        </div>
        <div class="col-lg-3">
            <label style="font-size: medium; margin-top: 15px">Paper: Legal, Landscape</label>
        </div>
        <div class="col-lg-2" style="margin-top: 15px">
            <input type="radio" class="iradio_flat-green" id="rptPDF" name="ReportType" value="PDF" style="width: 2%; margin-left: 40px;" @*tabindex="3"*@ checked="checked" />
            <label style="font-size: small; font-weight: bold; color: #00688B;">PDF</label>
            <input type="radio" id="rptExcel" name="ReportType" value="EXCEL" style="width: 2%;" @*tabindex="4"*@ />
            <label style="font-size: small; font-weight: bold; color: #00688B;">EXCEL</label>
        </div>
        <div class="col-lg-4">
            <button type="button" id="btnReset" class=" btn bg-olive btn-flat margin pull-right" onclick="Reset();"><i class="glyphicon glyphicon-refresh"></i> Reset</button>
            <button type="submit" id="btnShowReport" onclick="return displayReport();" class=" btn bg-olive btn-flat margin pull-right"><i class="glyphicon glyphicon-save"></i> Display Report</button>
        </div>
    </div>

    <div class="row box box-primary">
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group col-lg-5">
                        <label style="">Generic Wise Individual Institution Value Share (By %)</label>
                        <div class="col-lg-1" style="">
                            <input type="radio" id="Generic Wise Individual Institution Value Share (By %)" name="ReportName" value="Generic Wise Individual Institution Value Share (By %)" checked="checked" />
                        </div><br />
                        <label style="">Generic Wise Individual Institution Value Share (By Value)</label>
                        <div class="col-lg-1" style="">
                            <input type="radio" id="Generic Wise Individual Institution Value Share (By Value)" name="ReportName" value="Generic Wise Individual Institution Value Share (By Value)" />
                        </div><br />
                    </div>
                <div class="form-group col-lg-6 panel-danger">
                    <div class="form-group">
                        <div class="col-lg-5">
                            <label class="pull-right">From Date:</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" id="FromDate" name="FromDate" tabindex="1" class="txtBox datePicker form-control" />
                        </div>
                    </div><br />
                    <div class="form-group">
                        <div class="col-lg-5">
                            <label class="pull-right">To Date:</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" id="ToDate" name="ToDate" tabindex="2" class="txtBox datePicker form-control" />
                        </div>
                    </div><br />
                    <div class="form-group">
                        <div class="col-lg-5">
                            <label class="pull-right">Selected:</label>
                        </div>
                        <div class="col-lg-4">
                            <select id="ddlGeneric" name="ddlGeneric" class="textField form-control" style="width: 100%;" tabindex="3">
                                <option value="All Generic">All Generic</option>
                                <option value="Selected Generic">Selected Generic</option>
                            </select>
                        </div>
                    </div><br />
                    <div class="form-group">
                        <div class="col-lg-5">
                            <label class="pull-right">Institution Code:</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" id="INSTI_CODE" name="INSTI_CODE" tabindex="4" style="width:200px" class="txtBox RequiredTextBox form-control" required="required"  placeholder="(Press F9)">
                        </div>
                    </div><br />
                    <div class="form-group">
                        <div class="col-lg-5">
                            <label class="pull-right">Institution Name:</label>
                        </div>
                        <div class="col-lg-4">  
                            <input type="text" id="INSTI_NAME" name="INSTI_NAME" tabindex="5" style="width:200px" class="txtBox RequiredTextBox form-control" required="required" readonly="readonly">
                        </div>
                    </div><br />
                    <div class="form-group">
                        <div class="col-lg-5">
                            <label class="pull-right">Address:</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" id="Address" name="Address" tabindex="6" style="width:200px" class="txtBox RequiredTextBox form-control" required="required" readonly="readonly">
                        </div>
                    </div><br />
                </div>
            </div>
        </form>
    </div>
}


<div id="InstitutionWindow" style="display: none;">
    @*<p>ZoneDivi:<input type="text" id="txtBuyerAgent" style="width: 250px;" /><input type="button" id="btnGridSearchAgent" value="Search" /></p>*@
    <div id="InstitutionWindowGrid" class="PopUpGrid">
    </div>
    <input type="button" id="btnRegionWindowCancel" class="PopUpButton" value="Cancel" />
    <input type="button" id="btnRegionWindowOK" class="PopUpButton" value="OK" />
</div>
<div id="TherapeuticWindow" style="display: none;">
    @*<p>ZoneDivi:<input type="text" id="txtBuyerAgent" style="width: 250px;" /><input type="button" id="btnGridSearchAgent" value="Search" /></p>*@
    <div id="TherapeuticWindowGrid" class="PopUpGrid">
    </div>
    <input type="button" id="btnTherapeuticWindowCancel" class="PopUpButton" value="Cancel" />
    <input type="button" id="btnTherapeuticWindowOK" class="PopUpButton" value="OK" />
</div>
<div id="DosageWindow" style="display: none;">
    @*<p>ZoneDivi:<input type="text" id="txtBuyerAgent" style="width: 250px;" /><input type="button" id="btnGridSearchAgent" value="Search" /></p>*@
    <div id="DosageWindowGrid" class="PopUpGrid">
    </div>
    <input type="button" id="btnDosageWindowCancel" class="PopUpButton" value="Cancel" />
    <input type="button" id="btnDosageWindowOK" class="PopUpButton" value="OK" />
</div>


<style>
    .gridHeader {
        background: #B4EEB4;
    }

    .box {
        background: #FFFAF0;
    }
</style>



<script type="text/javascript">



    ///*************Start Documnet Ready*************************//
    $(document).ready(function () {
        $(".datePicker").kendoDatePicker({
            format: "{0:dd/MM/yyyy}",
            value: new Date()

        });

        //LoadPrescription()
        //LoadDataSource()

    });

    var InstituteGridDataSource = new kendo.data.DataSource({
        batch: true,
        schema: {
            model: {
                id: "INSTI_CODE",
                fields: {
                    INSTI_CODE: { editable: false },
                    INSTI_NAME: { editable: false },
                    Address: {editable: false}
                }
            }
        },
        @*transport: {
            read: {
                url: '@Url.Action("GetInstitute", "Reports")',
                type: "POST",
                dataType: "JSON"
            }
        },*@
        pageSize: 20

    });

    var InstitutionPageGrid = $("#InstitutionWindowGrid").kendoGrid({
        dataSource: InstituteGridDataSource,
        pageable: true,
        editable: true,
        selectable: "row",
        navigatable: true,
        filterable: true,
        sortable: true,
        height: 300,
        columns: [
            { field: "INSTI_CODE", title: "Institution Code", filterable: true, hidden: false, sortable: true, width: "40px", headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "INSTI_NAME", title: "Institution Name", width: "60px", filterable: true, sortable: true, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
        { field: "Address", title: "Address", width: "60px", filterable: true, sortable: true, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } }
        ]
    });

    var InstitutionWindow = $('#InstitutionWindow').kendoWindow({
        actions: ["Minimize", "Maximize", "Close"],
        visible: false,
        width: "700px",
        height: "400px",
        title: "List of Institution",
        position: { top: 100, left: 300 },
        modal: true,
        draggable: true
    }).data('kendoWindow');


    $('#btnRegionWindowOK').click(function () {
        InstitutionWindowEvent();
        InstitutionWindow.close();
    });


    $('#btnRegionWindowCancel').click(function () {
        InstitutionWindow.close();
    });

    // Select Data through double Click From PopUp
    $("#InstitutionWindowGrid").dblclick(function () {
        InstitutionWindowEvent();
        InstitutionWindow.close();
    });


    //Handling button click for ZONE_NAME window grid
    function InstitutionWindowEvent() {
        var WindowGrid = $("#InstitutionWindowGrid").data("kendoGrid");
        var WindowGridRow = WindowGrid.select();
        var WindowGridItem = WindowGrid.dataItem(WindowGridRow);

        $("#INSTI_CODE").val(WindowGridItem.INSTI_CODE);
        $("#INSTI_NAME").val(WindowGridItem.INSTI_NAME);
        $("#Address").val(WindowGridItem.Address);
        changeStatus = 1;
    };

    $("#InstitutionWindowGrid").keyup(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            InstitutionWindowEvent();
            InstitutionWindow.close();
        }
            // Close Window with escape key
        else if (keycode == '27') {
            InstitutionWindow.close();
        }
        event.stopPropagation();
    });

    $(document.body).keyup(function (e) {
        if ($("#INSTI_CODE").is(":focus")) {
            if (e.keyCode == 120) {
                SelectedItemOfListOfValue('InstitutionWindowGrid');
                InstitutionWindow.open();
                InstitutionWindow.center();

            }
        }
    });



    ////To select the first row as default & to clear the filter while loading the grid
    function SelectedItemOfListOfValue(gridName) {
        var grid = $('#' + gridName).data("kendoGrid");
        //Reload Grid
        grid.dataSource.read();
        //Clear Filter
        $('#' + gridName).data("kendoGrid").dataSource.filter([]);
        //Select First Row
        $('#' + gridName).data().kendoGrid.bind('dataBound', function (e) {
            this.element.find('tbody tr:first').addClass('k-state-selected');
        });
    }


    $('#INSTI_CODE').bind('input', function () {
        if ($('#INSTI_CODE').val().length > 0) {
            var instCode = $("#INSTI_CODE").val();
            $.ajax({
                url: '/Reports/GetInstitute',
                type: 'post',
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify({ InstiCode: instCode }),
                dataType: 'json',
                success: function (data) {
                    if (data.INSTI_NAME != "") {
                        //alert(data[0].INSTI_NAME)
                        //$("#INSTI_NAME").val("");
                        $("#INSTI_NAME").val(data[0].INSTI_NAME);
                        $("#Address").val(data[0].Address);
                    }
                    else {
                        $('#INSTI_NAME').val("Invalid Code");
                    }
                }
            });
        }
        else {
            $("#INSTI_NAME").val("");
        }
    });




    function displayReport() {

        if ($("#INSTI_CODE").val() != "") {
            return true;
        }
        else {
            // Check Empty or Maximum Length in ManufacturerName
            CheckRequiredTextBoxMaxLength('INSTI_CODE', 10);
            return false;
        }
    }

   








    

   
    // ------- End Of Ready Function --------

    ClearOperationalMessage();
    ClearOperationMsgTextBoxRedColor();
    ClearRequiredTextBoxRedColor();
    $("#btnReset").click(function () {
        $('.FormBody input[type=text]').val('');
        $('#MessageText').html('');
        $('#btnSubmit').attr('disabled', false);
        $(".txtBox").val("");
        location.reload();
    });
</script>


